:root{
    --primary:#425b84;
    --secondary:#5b7bb4;
    --max-width: 1100px;
    --ani-Speed: 1s;
}

*{
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font: normal side line-height fonts */
    font: normal 1rem/1.5 'Arial', sans-serif;
    background: var(--primary);
    color: #ffffff;
    /* Not X scrollbars */
    overflow-x: hidden;
    padding-bottom: 4rem;
}

#main-header {
    background: var(--secondary);
    padding: 4rem 0;
}

.container{
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.3rem;
}

.timeline ul{
    background: var(--primary);
    padding: 50px 0;
}

/* This is the line down the middle */
.timeline ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: white;
}

/* Boxes */
.timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background-color: var(--secondary);
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

/* right side */
.timeline ul li:nth-child(odd) div{
    left:40px;
    transform:translateX(200px)
}

/* left side */
.timeline ul li:nth-child(even) div{
    left:-434px;
    transform:translateX(-200px)

}

/* Dots */
.timeline ul li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}
/* Arrows base */
.timeline  div::before{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0px;
    border-style: solid;
}

/* right-side arrows */
.timeline li:nth-child(odd) div::before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary) transparent transparent;
}

/* left-side arrows */
.timeline li:nth-child(even) div::before{
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary);
}
/* Show Boxes */
.timeline ul li.show div{
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline ul li.show:after{
    background: var(--secondary);
}


/* 900px or less do this: */
@media(max-width: 900px) {
    .timeline ul li div{
        width: 250px;
    }

    .timeline ul li:nth-child(even) div{
        left: -284px;
    }
}

@media(max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
        background-color: orange;
    }

    .timeline ul li div {
        width: calc(100vw - 90px);
    }

    .timeline ul li:nth-child(even) div{
        left: 40px;
    }

    .timeline li:nth-child(even) div::before{
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary) transparent transparent ;
    }
}