@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

:root{
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 2s;
}



*{
   
    box-sizing: border-box;
}

body{
    font-family: 'piedra', Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: white;
    /* No scrollbars */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* page colors */
#page-1{background-color:var(--page-1-color);}
#page-2{background-color:var(--page-2-color);}
#page-3{background-color:var(--page-3-color);}
#page-4{background-color:var(--page-4-color);}


.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Center horizontal */
    align-items: center;
    /* Center vertical */
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.page h1{
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}


.page p{
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    margin: 0px 10px;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333333;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: .btn, .btn-dark 0.3s ease-in;
}


.btn:hover, .btn-dark{
    background: #333;
    color: white;
}

.btn-dark:hover{
    background: #fff;
    color: #333;
}


/* Page Animation */

#page-1 h1{
    transform: translateY(-50vh);
    animation:ani-h1 var(--animate-speed) forwards ease-in;
    color: transparent;
    text-shadow: 0px 0px 0px #333333;
}

#page-1 p{
    transform: translateX(-100vw);
    animation:ani-p var(--animate-speed) forwards ease-in;
    color: transparent;
    text-shadow: 0px 0px 0px #333333;
}


@keyframes ani-h1{
    to {
        transform: translateY(0vh);
        color: white;
        text-shadow: 5px 5px 5px #333333;
    }
}

@keyframes ani-p{
     to {
        transform: translateX(0vw);
        color: white;
        text-shadow: 5px 5px 5px #333333;
    }
}